<ion-header [translucent]="true">
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/choice"></ion-back-button>
    </ion-buttons>
    <ion-title>Pegar Carona</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="gradient-background">
  <div class="global-container">
    <ion-list>
      <ion-item class="custom-item">
        <ion-label position="stacked">Origem</ion-label>
        <ion-input
          #origemInput
          [(ngModel)]="origem"
          placeholder="Digite o local de origem"
          (ionInput)="onInputChange($event, 'origem')"
          (ionFocus)="selectedInput = 'origem'"
          (ionBlur)="onInputBlur()"
        >
          <ion-icon name="location-outline" slot="start"></ion-icon>
        </ion-input>
      </ion-item>

      <ion-item class="custom-item">
        <ion-label position="stacked">Destino</ion-label>
        <ion-input
          #destinoInput
          [(ngModel)]="destino"
          placeholder="Digite o local de destino"
          (ionInput)="onInputChange($event, 'destino')"
          (ionFocus)="selectedInput = 'destino'"
          (ionBlur)="onInputBlur()"
        >
          <ion-icon name="navigate-outline" slot="start"></ion-icon>
        </ion-input>
      </ion-item>

      <ion-item class="custom-item">
        <ion-label position="stacked">Data da Viagem</ion-label>
        <ion-datetime-button datetime="data" class="datetime-button">
          <ion-icon name="calendar-outline" slot="start"></ion-icon>
        </ion-datetime-button>
      </ion-item>
      <ion-modal [keepContentsMounted]="true" class="datetime-modal">
        <ng-template>
          <ion-datetime
            id="data"
            presentation="date"
            [(ngModel)]="data"
            locale="pt-BR"
            first-day-of-week="0"
            showDefaultButtons="true"
            doneText="Confirmar"
            cancelText="Cancelar"
            size="cover"
          ></ion-datetime>
        </ng-template>
      </ion-modal>

      <ion-item class="custom-item">
        <ion-label position="stacked">Horário da Viagem</ion-label>
        <ion-datetime-button datetime="hora" class="datetime-button">
          <ion-icon name="time-outline" slot="start"></ion-icon>
        </ion-datetime-button>
      </ion-item>
      <ion-modal [keepContentsMounted]="true" class="datetime-modal">
        <ng-template>
          <ion-datetime
            id="hora"
            presentation="time"
            [(ngModel)]="hora"
            locale="pt-BR"
            showDefaultButtons="true"
            doneText="Confirmar"
            cancelText="Cancelar"
            size="cover"
            minuteValues="0,15,30,45"
          ></ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-list>

    <ion-button expand="block" (click)="buscarCaronas()" class="custom-button">
      <ion-icon name="search-outline" slot="start"></ion-icon>
      Buscar Caronas
    </ion-button>
  </div>

  <div class="suggestions-container" *ngIf="showSuggestions && suggestions.length > 0">
    <ion-list>
      <ion-item
        *ngFor="let suggestion of suggestions"
        (click)="selectSuggestion(suggestion, selectedInput!)"
        button
      >
        <ion-label>{{ suggestion.displayName }}</ion-label>
      </ion-item>
    </ion-list>
  </div>

  <div #map class="map-container"></div>
</ion-content>
