<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Cadastro BIBI</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="register-container">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <!-- Foto do Usuário -->
      <div class="photo-container">
        <div class="photo-circle" (click)="selectPhoto()">
          <img [src]="photoUrl" alt="Foto do perfil">
          <div class="photo-overlay">
            <ion-icon name="camera"></ion-icon>
          </div>
        </div>
      </div>

      <!-- Campos Comuns -->
      <ion-item>
        <ion-label position="floating">Nome Completo</ion-label>
        <ion-input
          type="text"
          formControlName="name"
          [class.ion-valid]="registerForm.get('name')?.valid && registerForm.get('name')?.touched"
          [class.ion-invalid]="registerForm.get('name')?.invalid && registerForm.get('name')?.touched">
        </ion-input>
        <ion-note slot="error" *ngFor="let error of registerForm.get('name')?.errors | keyvalue">
          {{ validationMessages.name[error.key] }}
        </ion-note>
      </ion-item>

      <ion-item>
        <ion-label position="floating">CPF</ion-label>
        <ion-input
          type="text"
          formControlName="cpf"
          (ionInput)="formatCPF($event)"
          maxlength="14"
          [class.ion-valid]="registerForm.get('cpf')?.valid && registerForm.get('cpf')?.touched"
          [class.ion-invalid]="registerForm.get('cpf')?.invalid && registerForm.get('cpf')?.touched">
        </ion-input>
        <ion-note slot="error" *ngFor="let error of registerForm.get('cpf')?.errors | keyvalue">
          {{ validationMessages.cpf[error.key] }}
        </ion-note>
      </ion-item>

      <ion-item>
        <ion-label position="floating">E-mail</ion-label>
        <ion-input
          type="email"
          formControlName="email"
          [class.ion-valid]="registerForm.get('email')?.valid && registerForm.get('email')?.touched"
          [class.ion-invalid]="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
        </ion-input>
        <ion-note slot="error" *ngFor="let error of registerForm.get('email')?.errors | keyvalue">
          {{ validationMessages.email[error.key] }}
        </ion-note>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Telefone</ion-label>
        <ion-input
          type="tel"
          formControlName="phone"
          (ionInput)="formatPhone($event)"
          maxlength="15"
          [class.ion-valid]="registerForm.get('phone')?.valid && registerForm.get('phone')?.touched"
          [class.ion-invalid]="registerForm.get('phone')?.invalid && registerForm.get('phone')?.touched">
        </ion-input>
        <ion-note slot="error" *ngFor="let error of registerForm.get('phone')?.errors | keyvalue">
          {{ validationMessages.phone[error.key] }}
        </ion-note>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Senha</ion-label>
        <ion-input
          type="password"
          formControlName="password"
          [class.ion-valid]="registerForm.get('password')?.valid && registerForm.get('password')?.touched"
          [class.ion-invalid]="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
        </ion-input>
        <ion-note slot="error" *ngFor="let error of registerForm.get('password')?.errors | keyvalue">
          {{ validationMessages.password[error.key] }}
        </ion-note>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Confirmar Senha</ion-label>
        <ion-input
          type="password"
          formControlName="confirmPassword"
          [class.ion-valid]="!registerForm.errors?.['passwordMismatch'] && registerForm.get('confirmPassword')?.valid && registerForm.get('confirmPassword')?.touched"
          [class.ion-invalid]="(registerForm.errors?.['passwordMismatch'] || registerForm.get('confirmPassword')?.invalid) && registerForm.get('confirmPassword')?.touched">
        </ion-input>
        <ion-note slot="error" *ngIf="registerForm.get('confirmPassword')?.touched">
          <span *ngIf="registerForm.get('confirmPassword')?.errors?.['required']">
            {{ validationMessages.confirmPassword.required }}
          </span>
          <span *ngIf="registerForm.errors?.['passwordMismatch']">
            {{ validationMessages.confirmPassword.passwordMismatch }}
          </span>
        </ion-note>
      </ion-item>

      <!-- Seleção de Tipo de Usuário -->
      <ion-item>
        <ion-label>Tipo de Usuário</ion-label>
        <ion-select formControlName="userType" (ionChange)="onUserTypeChange($event)">
          <ion-select-option value="passenger">Passageiro</ion-select-option>
          <ion-select-option value="driver">Motorista</ion-select-option>
        </ion-select>
      </ion-item>

      <!-- Campos específicos para Motorista -->
      <div *ngIf="isDriver" class="driver-fields">
        <ion-item>
          <ion-label position="floating">CNH</ion-label>
          <ion-input
            type="text"
            formControlName="cnh"
            maxlength="11"
            [class.ion-valid]="registerForm.get('cnh')?.valid && registerForm.get('cnh')?.touched"
            [class.ion-invalid]="registerForm.get('cnh')?.invalid && registerForm.get('cnh')?.touched">
          </ion-input>
          <ion-note slot="error" *ngFor="let error of registerForm.get('cnh')?.errors | keyvalue">
            {{ validationMessages.cnh[error.key] }}
          </ion-note>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Modelo do Veículo</ion-label>
          <ion-input
            type="text"
            formControlName="vehicleModel"
            [class.ion-valid]="registerForm.get('vehicleModel')?.valid && registerForm.get('vehicleModel')?.touched"
            [class.ion-invalid]="registerForm.get('vehicleModel')?.invalid && registerForm.get('vehicleModel')?.touched">
          </ion-input>
          <ion-note slot="error" *ngFor="let error of registerForm.get('vehicleModel')?.errors | keyvalue">
            {{ validationMessages.vehicleModel[error.key] }}
          </ion-note>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Placa do Veículo</ion-label>
          <ion-input
            type="text"
            formControlName="vehiclePlate"
            (ionInput)="formatPlate($event)"
            maxlength="8"
            [class.ion-valid]="registerForm.get('vehiclePlate')?.valid && registerForm.get('vehiclePlate')?.touched"
            [class.ion-invalid]="registerForm.get('vehiclePlate')?.invalid && registerForm.get('vehiclePlate')?.touched">
          </ion-input>
          <ion-note slot="error" *ngFor="let error of registerForm.get('vehiclePlate')?.errors | keyvalue">
            {{ validationMessages.vehiclePlate[error.key] }}
          </ion-note>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Ano do Veículo</ion-label>
          <ion-input
            type="number"
            formControlName="vehicleYear"
            [min]="1990"
            [max]="currentYear"
            [class.ion-valid]="registerForm.get('vehicleYear')?.valid && registerForm.get('vehicleYear')?.touched"
            [class.ion-invalid]="registerForm.get('vehicleYear')?.invalid && registerForm.get('vehicleYear')?.touched">
          </ion-input>
          <ion-note slot="error" *ngFor="let error of registerForm.get('vehicleYear')?.errors | keyvalue">
            {{ validationMessages.vehicleYear[error.key] }}
          </ion-note>
        </ion-item>
      </div>

      <ion-button expand="block" type="submit" [disabled]="!registerForm.valid || isLoading">
        <ion-spinner *ngIf="isLoading" name="crescent"></ion-spinner>
        <span *ngIf="!isLoading">Cadastrar</span>
      </ion-button>
    </form>
  </div>
</ion-content>
